.gitalk,.markdown-body
  font-size font-size-base!important

.gitalk-load-button
  padding .75rem 1.25rem
  border 1px solid border-color
  border-radius 4px
  color sea-dark
  background #fff
  cursor pointer

.gt-container
  .gt-avatar.gt-comment-avatar
    img
      border-radius 50%!important
